# tuple
# Tuple is unchangeable
# Tuple must be ordered
# Tuple is denoted with ()
# to access a value from a tuple we used the index location

In [3]:
numbers = (4,10,15,16,25,20,4,30,35,4,45,56,50,52,4,60)
print(type(numbers))

<class 'tuple'>

In [4]:
print(len(numbers))

16

In [5]:
print(numbers[5])

20

In [6]:
print(numbers[-13])

16

In [7]:
print(numbers[3:9])

(16, 25, 20, 4, 30, 35)

In [11]:
print(numbers.count(4))
print(numbers.index(60))
print(60 in numbers)

4
15
True

# list
# list is changeable
# list can be ordered or unordered
# list is denoted with []
# to access a value from a list we used in the index location
# the append funtion is used to add a new value to the list

In [12]:
fruits = ['Apple','cherry','Mango','Banana','Orange']
fruits.append('Pear')# The append function will add new vlue at the end of the existing list
print(fruits)

['Apple', 'cherry', 'Mango', 'Banana', 'Orange', 'Pear']

In [14]:
second_fruit = ['Coconut','Apple','Rasberry','Lemon','Sugarcane']
fruits.extend(second_fruit)# The extend function will add the value of another list or tuple to the specified list
print(fruits)

['Apple', 'cherry', 'Mango', 'Banana', 'Orange', 'Pear', 'Coconut', 'Apple', 'Rasberry', 'Lemon', 'Sugarcane']

In [15]:
fruits.insert(5, 'Grape')# The insert function will add the new value at the specified location
print(fruits)

['Apple', 'cherry', 'Mango', 'Banana', 'Orange', 'Grape', 'Pear', 'Coconut', 'Apple', 'Rasberry', 'Lemon', 'Sugarcane']

In [16]:
fruits.sort() # The sort function will arrange the values in ascending order
print(fruits)

['Apple', 'Apple', 'Banana', 'Coconut', 'Grape', 'Lemon', 'Mango', 'Orange', 'Pear', 'Rasberry', 'Sugarcane', 'cherry']

In [26]:
fruits.pop(5)# The pop function will drop the value at the specified location
print(fruits)

['cherry', 'Sugarcane', 'Rasberry', 'Coconut', 'Banana', 'Apple']

In [21]:
fruits.remove('Grape')# The remove function will drop the specified value 
print(fruits)

['Apple', 'Apple', 'Banana', 'Coconut', 'Rasberry', 'Sugarcane', 'cherry']

In [22]:
fruits.reverse()# The reverse function will arrange your values in descending order
print(fruits)

['cherry', 'Sugarcane', 'Rasberry', 'Coconut', 'Banana', 'Apple', 'Apple']

In [24]:
fruits2 = fruits.copy()# The copy function will make a duplicate of your list

In [25]:
fruits2.clear()# The clear function will remove all values from thr list
print(fruits2)

[]

In [27]:
del(fruits2)# del is used to delete everything and anything.
print(fruits2)

NameError: name 'fruits2' is not defined

# Dictionary

In [33]:
details = {
    'Name' : 'Simeon',
    'Age' :'26',
    'Gender':'Male',
    'weight':'65',
    'Height': '1.75'
}
details['Gender']

'Male'

In [34]:
details.keys()# it present all the key in the dictionary

dict_keys(['Name', 'Age', 'Gender', 'weight', 'Height'])

In [36]:
details.values()# It returns all the values in the dictionary

dict_values(['Simeon', '26', 'Male', '65', '1.75'])

In [37]:
details.items()# It returns both the items and values in the dictionary

dict_items([('Name', 'Simeon'), ('Age', '26'), ('Gender', 'Male'), ('weight', '65'), ('Height', '1.75')])

In [38]:
r = {'Height':1.80}
details.update(r)
details

{'Name': 'Simeon',
 'Age': '26',
 'Gender': 'Male',
 'weight': '65',
 'Height': 1.8}

In [42]:
records1 = {
    'Names':['Ade','Ojo','Hope'],
    'Age':[15,14,16]
}
records1['Names'][1]

'Ojo'

In [43]:
records1 = {
    'Names':{'Name1':'Ade','Name2':'Ojo','Name3':'Hope'},
    'Age':{'Age1':15,'Age2':14,'Age3':16}
}
records1['Names']['Name2']

'Ojo'