In [1]:
import pymysql

In [3]:
mydb = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = 'opeyemigift2'
)
mycursor = mydb.cursor()

In [4]:
mycursor.execute('create database footballmanagementsystem')

1

In [7]:
mycursor.execute('show databases')
for x in mycursor:
    print(x)

('footballmanagementsystem',)
('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [8]:
mydb = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = 'opeyemigift2',
    database = 'footballmanagementsystem'
)
mycursor = mydb.cursor()

In [12]:
mycursor.execute('create table EPI(PositionID int not null primary key,Team varchar(255) not null,Win int not null,Draw int not null, Lost int not null, GoalFor int not null,GoalAgainst int not null)')

0

In [13]:
mycursor.execute('alter table epi add column Point int not null')
mycursor.execute('alter table epi add column GoalDifference int not null after GoalAgainst')

0

In [16]:
mycursor.execute('alter table epi modify PositionID int not null auto_increment')

0

In [17]:
mycursor.execute('alter table epi change PositionID PositionalID int not null auto_increment')

0

In [18]:
#mycursor.execute(alter table tablename drop column columnname)- to drop a column

In [19]:
mycursor.execute('alter table epi rename to English_Premier_League')

0

In [20]:
mycursor.execute('show tables')
for x in mycursor:
    print(x)

('english_premier_league',)
('epl',)

In [21]:
mycursor.execute('show columns from English_Premier_League')
for x in mycursor:
    print(x)

('PositionalID', 'int', 'NO', 'PRI', None, 'auto_increment')
('Team', 'varchar(255)', 'NO', '', None, '')
('Win', 'int', 'NO', '', None, '')
('Draw', 'int', 'NO', '', None, '')
('Lost', 'int', 'NO', '', None, '')
('GoalFor', 'int', 'NO', '', None, '')
('GoalAgainst', 'int', 'NO', '', None, '')
('GoalDifference', 'int', 'NO', '', None, '')
('Point', 'int', 'NO', '', None, '')