# Tuple

# write a program to reverse the given tuple (46,53,45,48,55,45,49,51,51,58,50,55,53,57,50,46,55,55,47,57,55)

In [30]:
numbers = (46,53,45,48,55,45,49,51,51,58,50,55,53,57,50,46,55,55,47,57,55)
numbers.reverse()
print(numbers)

AttributeError: 'tuple' object has no attribute 'reverse'

# write a program to access value 58 from the  above tuple

In [3]:
numbers = (46,53,45,48,55,45,49,51,51,58,50,55,53,57,50,46,55,55,47,57,55)
print(numbers[9])

58

# write a program to Counts the number of occurences of item 55 from the above tuple

In [4]:
print(numbers.count(55))

5

# write a program to return values 49 and 57 from the above tuple

In [5]:
print(numbers[6:14])

(49, 51, 51, 58, 50, 55, 53, 57)

# LIST

# Write a program to reverse the given list [46,53,45,48,55,45,49,51,51,58,50,55,53,57,50,46,55,47,57,55]

In [1]:
numbers = [46,53,45,48,55,45,49,51,51,58,50,55,53,57,50,46,55,55,47,57,55]
numbers.reverse()
print(numbers)

[55, 57, 47, 55, 55, 46, 50, 57, 53, 55, 50, 58, 51, 51, 49, 45, 55, 48, 45, 53, 46]

# write a program to access value 58 from the above list

In [31]:
print(numbers[9])

58

# write a program to counts the number of occurrencesof items 51 from the above list

In [27]:
print(numbers.count(51))

2

# write a program to add item 69 after 49 in the following python list

In [28]:
numbers.insert(69, '49')
print(numbers)

[46, 53, 45, 48, 55, 45, 49, 51, 51, 58, 50, 55, 53, 57, 50, 46, 55, 55, 47, 57, 55, '49']

# wrrite a program to extend [89,85,36,95,45,78]to the above list

In [29]:
second_number = ['89','85','36','95','45','78']
numbers.extend(second_number)
print(numbers)

[46, 53, 45, 48, 55, 45, 49, 51, 51, 58, 50, 55, 53, 57, 50, 46, 55, 55, 47, 57, 55, '49', '89', '85', '36', '95', '45', '78']

# DICTIONARY

#  Write a python program to create a new dictionary having 10 football club nammes as the key holding the following values(location,managers name, club captain, networth, clubformation)

In [8]:
details = {
    'Club' : 'Arsenal',
    'Networth':'$10.7b',
    'Managers':'Milel Arteta',
    'Clubformation':'1886',
    'Location':'London'
}

'Arsenal'

In [1]:
details = {
    'Club':'Chelsea',
    'Networth':'$13.5b',
    'Managers':'Thomas Tuchel',
    'Clubformation':'10 march 1905',
    'Location':'Fulham'
}

In [14]:
details = {
    'Club':'Astonvilla',
    'Networth':'$12.7b',
    'Managers':'Steven Gerrard',
    'Clubformation':'march 1874',
    'Location':'England'
}

In [15]:
details = {
    'Club':'Bournemouth',
    'Networth':'$100m',
    'Clubformation':'1899',
    'Location':'England'
}

In [17]:
details = {
    'Club':'Brentford',
    'Networth':'$300m',
    'Manager':'Thomas Frank',
    'Clubformation':'10 october 1889',
    'Location':'Westlondon England'
}

In [18]:
details = {
    'Club':'Everton',
    'Networth':'2.9b',
    'Manager':'Frank Lampard',
    'Clubformation':'1878',
    'Location':'Liverpool'
}

In [22]:
details = {
    'Club':'Liverpool',
    'Networth':'$3.6b',
    'Manager':'Jurgen Klopp',
    'Clubformation':'3 june 1892',
    'Location':'England'
}

In [23]:
details = {
    'club':'Manchestercity',
    'Networth':'$22b',
    'Manager':'Pep Guardiola',
    'Clubformation':'1880',
    'Location':'Manchester'
}

In [24]:
details = {
    'Club':'Manchester united',
    'Networth':'$4.7b',
    'Manager':'Erik ten Hang',
    'Clubformation':'1878',
    'Location':'Old Tafford'
}

In [ ]:
details ={
    'Club':'Tottenham',
    'Networth':'$5.8b',
    'Manager':'Antonio Conte',
    'Clubformation':'5 september 1882',
    'Location':'Tottenham London'
}